.header-wrapper {
    background-color: burlywood;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

/* footer */

.main-footer1 {
    max-width: 1366px;
    width: 100%;
    height: 35px;
    position: absolute;
    display: flex;
}
.footer-container {
    width: 300px;
    height: 20px;
    color: white;
    display: flex;
    margin-top: 3%;
    
}
.footer-container:hover {
    color: blue;
}
.logo {
    margin-left: 20px;
}

.footer-container1 {
    width: 300px;
    height: 20px;
    color: white;
    display: flex;
    margin-top: 2%;
    
}
.footer-container1:hover {
    color: blue;
}
.logo {
    margin-left: 20px;
}